body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(168, 154, 191);
  font-family: monospace;
}

img {
  width: 40px;
  height: 40px;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(21, 58, 29);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 20px;
  width: 85%;
  max-width: 400px;
  text-align: center;
  font-size: 20px;
}

h1 {
  margin: 5px;
  font-size: 30px;
}

.ratings-container {
  display: flex;
  padding: 20px 0px;
}

.rating {
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  background-color: rgba(15, 68, 16, 0.5);
  color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
}

.btn {
  padding: 15px 20px;
  background-color: rgb(70, 29, 111);
  color: blanchedalmond;
  border-radius: 8px;
  border-style: none;
  margin: 10px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
}

.btn:active {
  transform: scale(0.96);
}
